


.container {
    margin: 20px;
    display: flex;
    height: 900px; /* Set the height of the container */
    border: 5px solid black;
    padding: 10px;
}


.input-container {
    flex: 0 0 30%; /* Take up 30% of the width */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items vertically to the top */
    align-items: center; /* Center items horizontally */
    border: 3px solid black; /* Add a border */
    padding: 0 0 10px 0 ; /* Add padding */
    height: 300px;
    border-radius: 20px;
}
button{
    background-color: white; 
    border: 2px solid black;
    border-radius: 4px;
}

.input-container input,
.input-container h2,
.input-container button {
    display: block;
    padding: 10px;
    margin: 10px;
}



.stacked-containers {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%; /* Take up 50% of the width */
    
}

.sub-container {
    background-color: white;
    border: 3px solid black;
    margin: 0 5px 5px;
    height: 50%;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    bottom: 0;
    width: 10%; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: grey;
    /* Add any other necessary styles for the buttons */
}

.carousel-control-next{
    right: 0;
}

.event-info{
    z-index: 2;
    background-color: #33333378;
    display: none;
    color: white;
    font-family: "Nunito Sans", sans-serif;}
h3{
    margin-top: 0;
    font-size: large;
}
.carousel {
    background-size: cover; /* Cover the entire background */
    background-position: right; /* Center the background image */
    

}
#events-container:hover .event-info{
    display: block;
}
img{
    height: 1365px;
    width:2426px
}
#logo{
    display: flex; /* Make the container inline-block */
    padding: 5px 0;
    width: 25%;;
    justify-content: center;
    border: 5px solid black;
}
#logo-img{
    height: 70px;
    width: 70px;
}
#map {
            height: 400px;
            width: 100%;
}
