:root {
    --acc-colour: #021422;
    --blue: #d9011e;
    --Text: #fcfce3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    
}

body {
    background-color: var(--acc-colour);
}
header {
background-color: var(--acc-colour);
padding: 1px;
display: flex;
align-items: center;
justify-content: center;
}

#logo{
    margin-top: 5px;
    display: flex; 
    padding: 5px 0;
    
  
}

#logo-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    
   
}

.logo-image {
margin-top: 100px;
}

.container {
    margin-top: 10px;
    display: flex;
    height: 130vh;
    padding: 10px;
}

input{
    border: 2px solid rgb(0, 0, 0);
    background: var(--Text);
    border-radius: 5px;
}
input:focus{
    outline: none;
    border: 1px solid var(--pink);

}
.input-container {
    flex: 0 0 25%; /* Take up 25% of the width */
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items vertically to the top */
    align-items: center; /* Center items horizontally */
    border: 5px solid black; 
    padding: 0 0 10px 0; 
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}
button{
    background-color: white;
    border: none;
    border-radius: 4px;
}

.input-container input,
.input-container h2,
.input-container button {
    display: block;
    padding: 10px;
    margin: 10px;
}
h2{
    color: rgb(0, 0, 0);
}



.stacked-containers {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%; /* Take up 50% of the width */
    margin-left: 40px;
    height: auto;
}

.sub-container {
    background-color: var(--acc-colour);
    border-radius: 15px;
    margin: 0 5px 5px;
    height: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.line1 {
    width: 100%;
    padding-bottom: 3px;
    background-color: var(--blue);
    margin: 0 auto;
    border-radius: 2px;
}
.button-styling {
    background-color: var(--acc-colour);
    border: 1px solid white;
    color: var(--Text);
    padding: 15px 33px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-styling:hover {
    background-color: #6c0a17;
}

.carousel {
    position: relative;
    height: 100%;
     border: 5px solid black; 
    border-radius: 15px;

}

.carousel-control-prev,
.carousel-control-next,
.moreInfo {
    position: absolute;
    bottom: 10px;
    width: 10%; 
    height: 50px; 
    background-color: var(--blue);
    color: var(--Text);
    display: none;
  
}
.carousel-control-prev:hover,
.carousel-control-next:hover,
.moreInfo:hover {
    
    background-color: #6c0a17;
    cursor: pointer;
    transition: 0.3s;
   }
   .carousel-control-prev{
    left: 10px;
   }
.moreInfo{
    right: 45%;
}
.carousel-control-next{
    right: 10px;
}

.event-info{
    z-index: 2;
    background-color: #33333378;
    display: none;
    color: var(--Text);
    font-family: "Nunito Sans", sans-serif;}
h3{
    margin-top: 0;
    font-size: large;
}
.carousel {
    background-size: cover; /* Cover the entire background */
    background-position: right; /* Center the background image */
    

}
#events-container:hover .event-info{
    display: block;
}

#map {
            height: 100%;
            width: 100%;
}
.search-history{
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    color: var(--Text);
    margin-top: 20px;
}
.searchItem{
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.searchItem:hover{
    border: 2px solid var(--pink);
    cursor: pointer;
}
.image-p2{
display: flex;
justify-content: center;
margin-top: 60px;
}
#img-p2{
    border: 5px solid var(--blue);
    margin-bottom: 30px;
}
#eventinfo-p2{
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    margin: 40px 0 ;
}
#link{
    color: var(--blue);
    text-decoration: none;
    border: 2px solid var(--blue);
    padding: 5px;
    margin-top: 10px;
}
#link:hover{
    color: var(--pink);
    border: 2px solid var(--pink);
}
p{
    margin: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: var(--blue);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    color: var(--Text);
    position: relative;
  }
  
  .close {
    color: var(--Text);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    cursor: pointer;
  }
  #eventdetails-p2{
    background-color: var(--blue);
    padding: 20px;
    margin: 30px 0 70px;
  }
  #img-seatmap{
    padding: 0;
    margin: 0;
  }
.placeholder-carousel{
    display: flex;
    color: var(--Text);
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
#events-container{
    margin-bottom: 25px;
}
#event-locator{
    text-align: center;
    color: var(--Text);
    border-bottom: 5px solid black;
    border-radius: 1px;
}
#maps-container{
    background-color: var(--blue);
    border: 5px solid black; 
    
}

.heading-styles {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    border-bottom: 5px solid black;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: var(--Text);
}

#carousel-controls {
    display: flex;
    justify-content: space-between;
}

